# Git
alias sshwho="ssh-add -l"
alias sshgitme="ssh-add -D && ssh-add ~/.ssh/gitme"
alias sshgiting="ssh-add -D && ssh-add ~/.ssh/git-ing"
alias startssh="eval '$(ssh-agent -s)'"

# Change dir
alias devnvim="cd ~/.config/nvim"
alias devoneclick="cd ~/oneclick"

alias devlearn="cd ~/code/learn"
alias devairflow="cd ~/code/learn/airflow-playground"

# App-specific
alias vi="nvim"

alias k="kubectl"

alias mux="tmuxinator"
alias muxmain="tmuxinator dump && tmux a -t dump"

alias python="python3.12"
alias py="python3.12"
alias pip="pip3.12"

alias tf="terraform"
alias tfplan="tfenv use min-required && terraform plan"
alias tfinit="tfenv use min-required && terraform init"

function muxdocs {
  tmuxinator dump
  tmuxinator notes
  tmuxinator p30961-docs
  tmux a -t dump
}

function muxtf {
  tmuxinator dump
  tmuxinator notes
  tmuxinator tf-templates
  tmuxinator tf-modules
  tmuxinator p27345-tfconfig
  tmuxinator p27345-irg
  tmuxinator p24317-tfconfig
  tmuxinator p24317-irg
  tmux a -t dump
}

function muxbackstage {
  tmuxinator dump
  tmuxinator notes
  tmuxinator backtage-global
  tmuxinator backstage-global-templates
  tmuxinator p27345-backstage
  tmux a -t dump
}
